* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "kyokasho";
	color: black;
}

@font-face {
	font-family: "kyokasho";
	src: url("./fonts/UDDigiKyokashoN-R-01.ttf") format("truetype");
}

.no-scroll {
	overflow: hidden;
}

:root {
	--blue: rgba(0 118 188);
	--trans_blue: rgba(0, 118, 188, 0.2);
	--dark_blue: rgba(0, 91, 146);
	--blue-hover: rgba(182, 60, 60);
	--orange-light: rgb(233, 173, 132);
	--orange: rgb(249, 102, 48);
	--kanken_yellow: rgb(253, 242, 4);
}

body {
	font-family: Arial, Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

ul {
	list-style: none;
}

header {
	background-color: var(--blue);
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	width: 100%;
	margin-bottom: 50px;
	/* height: 50px; */
}

@media (min-width: 601px) {

	main {
		width: 600px;
		margin: 0 auto;
		font-size: 20px;
	}


}

main {
	/* position: relative; */
	/* background-color: aqua; */
}

#main_background {
	position: fixed;
	display: none;
	font-size: 50px;
	border: 5px solid var(--trans_blue);
	color: var(--trans_blue);
	border-radius: 50px;
	width: 100px;
	height: 100px;
	text-align: center;
	padding-top: 20px;
	margin: 0 auto;
	margin-top: 200px;
	left: 50%;
	transform: translate(-50%, 0);
	z-index: -10;
}

button:hover {
	cursor: pointer;
}

h1 {
	color: white;
	/* color: var(--orange-light); */
	padding: 2px 10px;
	font-size: 30px;
	border: 2px solid white;
	border-radius: 10px;
	margin: 4px;
	margin-right: 10px;
	/* width: 60px; */
	min-width: 86px;
}

.header_btn {
	/* background-color: var(--orange); */
	background-color: var(--blue);
	border: none;
	/* border-left: 2px solid white; */

	/* border: 0px solid rgba(0, 0, 0, 0); */
	color: white;
	height: 100%;
	/* width: 90px; */
	font-size: 20px;
	padding: 0 10px;

}

.header_btn:hover {
	/* background-color: var(--orange-light); */
	background-color: white;
	color: var(--blue);
}

.header_btn_active {
	background-color: white;
	color: var(--blue);
	border-radius: 10px 10px 0 0;
	height: 50px;
}

.search_form {
	align-self: center;
	height: 30px;
	display: flex;
}

#search_input {
	background-color: var(--dark_blue);
	width: 170px;
	/* height: 70%; */
	align-self: center;
	font-size: 20px;
	color: white;
	border: none;
	border-radius: 5px 0px 0px 5px;
	/* border: 2px solid black; */
	padding: 3px;
	padding-left: 5px;
}

#search_input:disabled {
	background-color: rgba(0, 91, 146, 0.5);
}

#search_btn {
	/* display: none; */
	background-color: var(--dark_blue);
	border: none;
	width: 28px;
	height: 30px;
	border-radius: 0px 5px 5px 0px;
	align-self: center;
}

#search_btn:disabled {
	background-color: rgba(0, 91, 146, 0.5);
}

#stop_search_btn {
	display: none;
	background-color: var(--dark_blue);
	border: none;
	width: 28px;
	height: 30px;
	border-radius: 0px 5px 5px 0px;
	align-self: center;
	color: white;
	font-size: 18px;
	transition: ease-in 0.2s;
}

#search_input:focus {
	background-color: white;
	color: black;
	border-color: none;
	transition: ease-in 0.2s;
}

#search_input::placeholder {
	/* color: gray; */
}

#training_button {
	width: 60px;
	min-width: 60px;
}


/* Loading */
#loading_container {
	margin-top: 200px;
}

#loading {
	text-align: center;
	font-size: 40px;
	color: var(--blue);
}

#loading_kanji {
	font-size: 40px;
	/* text-align: center; */
	margin: 0 auto;
	border: 2px solid var(--blue);
	color: var(--blue);
	width: 60px;
	height: 60px;
	border-radius: 30px;
	padding: 6px;
	padding-left: 7px;
	/* transform: rotate(90deg); */
}

@keyframes rotating {
	from {
		-ms-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	to {
		-ms-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

.rotating {
	-webkit-animation: rotating 2s linear infinite;
	animation: rotating 2s linear infinite;
}

.input_inactive {}

/* MAIN SECTION */
main {
	padding-top: 50px;
}

#main_section {
	/* margin-top: 50px; */
}

.kanji_result_header {
	padding: 3px 5px;
	background-color: black;
	color: white;
}

.kanji_result {
	display: flex;
	/* background-color: rgb(233, 173, 132); */
	padding-top: 5px;
	border-bottom: 2px solid black;
	height: 68px;
}

.unset_back {
	border: none;
}

.kanji_result_kanji {
	font-size: 40px;
	min-width: 44px;
	padding-top: 5px;
}

.kanji_result_yomi_imi {
	width: 100%;
	font-size: 12px;
	height: 61px;
}

.kanji_result_yomi {
	color: var(--dark_blue);
	font-size: 14px;
	max-height: 32px;
	overflow-y: hidden;
}

.kanji_result_imi {
	font-family: Arial, Helvetica, sans-serif;
}


.kanji_result_misc {
	width: 50px;
	min-width: 50px;
	/* background-color: aqua; */
	height: 61px;
}

.kanji_result_ul {
	/* text-align: end; */
	display: flex;
	flex-direction: column;
	align-items: end;
	justify-content: space-between;
	/* background-color: red; */
	height: 61px;
}

.kanji_result_itaiji {
	padding-right: 2px;
	height: 18px;
}

.kanji_result_kakusuu {
	padding-right: 2px;
}

.kanken_lvl {
	background-color: black;
	padding: 2px;
	width: fit-content;
	display: flex;
	flex-direction: row;
}

.kanken_left {
	background-color: var(--kanken_yellow);
	color: black;
	min-width: 18px;
	text-align: center;
	padding: 0px 1px;
	padding-right: 2px;

}

.kanken_right {
	background-color: black;
	color: white;
	width: 18px;
	padding: 0px 1px;
	padding-left: 2px;
}


.word_result {
	display: flex;
	justify-content: space-between;
	border-bottom: 2px solid black;

}

.word_result_yomi_word {
	padding: 5px;
}

.word_result_yomi {
	font-size: 14px;
	color: var(--dark_blue);
}

.word_result_word {
	font-size: 22px;
}

.word_result_imi {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.word_result_misc {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	/* background-color: red; */
}

.word_kanken {
	align-self: end;
}

.no_result {
	font-family: Arial, Helvetica, sans-serif;
	padding: 5px;
	color: gray;
	text-align: center;
}

#kanji_animation {
	position: relative;
}

#kai_bg {
	position: absolute;
}

#kai {
	position: absolute;
}

#kanji_container {
	margin-top: 160px;
}

#kanji_list {
	/* height: 500px; */
	overflow-y: scroll;
}

#kanji_list button {
	padding: 10px;
	font-size: 20px;
}

/* TRAINING SECTION */
#training_section {
	display: none;
}